<section class="content-header">
    <h1>
        Advertisements
        <small>Setup advertisements to be displayed at Lei Home</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
        <li class="active">Advertisements</li>
    </ol>
</section>
<section class="content">
    <div ng-controller="AdvertisementController">
        <div class="box">
            <div class="post">
                <div class="box-body">
                    <div class="col-sm-3">
                        <img class="img-responsive" src="/dist/img/photo2.png" alt="Photo">
                        <a href="javascript:void(0)" style="color: whitesmoke"><span><i
                                style="position: absolute;top: 10px;right: 25px; z-index: 10"
                                class="fa fa-times"></i></span></a>
                    </div>
                    <div class="col-sm-3">
                        <img class="img-responsive" src="/dist/img/photo3.jpg" alt="Photo">
                    </div>
                    <div class="col-sm-3">
                        <img class="img-responsive" src="/dist/img/photo4.jpg" alt="Photo">
                    </div>
                    <div class="col-sm-3">
                        <img class="img-responsive" src="/dist/img/photo1.png" alt="Photo">
                    </div>
                </div>
                <div class="box-body">
                    <div class="form-group">
                        <label for="imageFile">Select image input</label>
                        <input id="imageFile" type="file" ng-model="inputImage" accept="image/*">
                        <p class="help-block">Uploaded images will be displayed</p>
                    </div>
                    <div class="form-group">
                        <button class="btn btn-primary" ng-click="saveFile()">Add Image</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>